<div class="chat-window">
  <div class="chat-window-header">
    <h2>Vote for Net Neutrality</h2>
    <div class="add-contacts">
      <mat-icon class="add-icon">close</mat-icon>
    </div>
  </div>
  <div class="chats-holder">
    <div class="receiver-msg">   
      <div class="chats-container chats-container-no-img">
        <div class="chats">
          <div class="chat-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
          <!-- <div class="msg-status"><mat-icon>done_all</mat-icon>Seen 20 min ago</div> -->
        </div>
        <!-- <div class="chat-img">
          <figure>
            <img src="../../assets/images/placeholder_avatar.jpg" height="50" width="50" alt="User image">
          </figure>
        </div> -->
      </div>
      <div class="chats-container">
          <div class="chats">
            <div class="chat-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            <div class="msg-status"><mat-icon>done_all</mat-icon>Seen 20 min ago</div>
          </div>
          <div class="chat-img">
            <figure>
              <img src="../../assets/images/placeholder_avatar.jpg" height="50" width="50" alt="User image">
            </figure>
          </div>
      </div>
    </div>
    <div class="user-msg">
      <div class="chats-container chats-container-no-img">
        <div class="chats">
          <div class="chat-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
          <!-- <div class="msg-status"><mat-icon>done_all</mat-icon>Seen 20 min ago</div> -->
        </div>
        <!-- <div class="chat-img">
          <figure>
            <img src="../../assets/images/placeholder_avatar.jpg" height="50" width="50" alt="User image">
          </figure>
        </div> -->
      </div>
      <div class="chats-container">
        <div class="chat-img">
            <figure>
              <img src="../../assets/images/placeholder_avatar.jpg" height="50" width="50" alt="User image">
            </figure>
          </div>
        <div class="chats">
            <div class="chat-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            <!-- <div class="msg-status"><mat-icon>done_all</mat-icon>Seen 20 min ago</div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="chat-text-box">
    <textarea class="form-control">Type your message here</textarea>
  </div>
</div>
