<div class="contact-info">
  <div class="profile-image">
    <figure>
      <img src="../../assets/images/placeholder_avatar.jpg" width="300" height="300" alt="Profile image" class="img-responsive">
    </figure>
  </div>
  <div class="profile-details">
    <div class="profile-name">
      <h3>Alexandria Ocasio-Cortez</h3>
      <span>
          <img src="../../assets/images/profile-name-next.svg">
      </span>
    </div> 
    <p class="sub-text">Member-elect &bull; U.S House of Representatives &bull; New York's 14th district</p>  
    <div class="profile-summary">
        8 July 1918 – 5 December 2013) was a South African anti-apartheid revolutionary, political leader, and philanthropist who served as President of South Africa from 1994 to 1999. He was the country's first black head of state and the first elected in a fully representative democratic election.
    </div> 
    <div class="contact-list-info">
      <ul>
        <li>
          <span>Email</span><span class="contact-email">contact@abc.com</span>
        </li>
        <li>
          <span>Phone</span><span class="phone-no">+917876656654</span>
        </li>
        <li>
          <span>Replies</span><span class="reply-status">Quickly</span>
        </li>
        <li>
          <span>Unanswered</span><span class="unanswered-msgs">12 messages</span>
        </li>
      </ul>
    </div>
  </div>
</div>
